@tailwind base;
@tailwind components;
@tailwind utilities;

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* src/index.css 또는 src/App.css에 추가 */
.ant-picker-dropdown {
	left: 50% !important;
	transform: translateX(-50%) !important;
	max-width: 100%;
}

@media (max-width: 768px) {
	.ant-picker-dropdown {
		width: 90% !important;
	}

	.ant-picker-input {
		font-size: 14px; /* 모바일에서 텍스트 크기 조정 */
	}

	.ant-picker-panel {
		font-size: 14px; /* 모바일에서 달력 텍스트 크기 조정 */
	}
}

/* src/index.css 또는 src/App.css에 추가 */
.custom-datepicker-dropdown {
	left: 50% !important;
	transform: translateX(-50%) !important;
	max-width: 90%;
}

@media (max-width: 768px) {
	.custom-datepicker-dropdown {
		width: 90% !important;
	}

	.ant-picker-input {
		font-size: 14px; /* 모바일에서 텍스트 크기 조정 */
	}

	.ant-picker-panel {
		font-size: 14px; /* 모바일에서 달력 텍스트 크기 조정 */
	}
}


@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}